body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

p {
  font-size: 2em;
}
.main {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
  outline: 1px solid gray;
  position: relative;
  margin: 2%;
}

.main > div {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 4rem;
  visibility: hidden;
  margin-bottom: 10%;
}

.restartButton {
  position: absolute;
  visibility: hidden;
  margin-top: 5%;
  background: black;
  padding: 1%;
  border-radius: 5px;
  border-color: black;
  color: white;
  font-size: 1em;
}

.restartButton:hover {
  box-shadow: 0 0 10px black;
}

@media only screen and (max-width: 600px) {
  .main {
    margin-bottom: 25%;
  }

  #intro-text {
    font-size: 1.8rem;
  }

  .winner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2.3rem;
    visibility: hidden;
    margin-bottom: 25%;
  }

  .restartButton {
    position: absolute;
    visibility: hidden;
    margin-top: 10%;
    background: black;
    padding: 2%;
    border-radius: 5px;
    border-color: black;
    color: white;
    font-size: 1em;
  }
}
